.cache/
.python_history
.local*
.bash_history
docsrc/_bui*
newtags.json
package_info.py
*.py[cod]
*.bak
.ipynb_checkpoints/
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
__pycache__
*.pyc
tmp/
jcs/